/* styles.css */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header-container {
    background-color: #ffffff;
    padding: 20px 20px; /* Ajout de padding */
    margin-top: 20px; /* Ajout de margin top */
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header .search-bar {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
}

.header .search-bar .input-group {
    width: 100%;
}

.header .search-bar .input-group .input-group-prepend {
    background-color: #f1f1f1;
}

.header .search-bar .input-group .input-group-prepend .input-group-text {
    background-color: #f1f1f1;
    border: none;
}

.header .search-bar .input-group .form-control {
    border: none;
    border-radius: 0;
    background-color: #f1f1f1;
}

.header .btn {
    background-color: #f8f9fa;
    border: none;
    padding: 10px;
}

.header .btn + .btn {
    margin-left: 0;
}

.header .avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar {
    background-color: white;
    color: #5D6679;
}

.sidebar .navbar-brand {
    font-size: 1.5em;
}

.sidebar .logo {
    width: 80%;
    height: auto;
}

.sidebar a {
    color: #5D6679;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar a .fas {
    margin-right: 10px;
}

.nav-link.active {
    background-color: #E8F1FD;
    color: #1366D9 !important;
    border-radius: 5px;
}

.content-container {
    background-color: #F5F5F5;
    flex-grow: 1;
    padding: 20px;
}

.overview-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-title {
    font-size: 24px;
    font-weight: bold;
    color: #1366D9; /* Changer la couleur du titre */
}

.overview-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.overview-item h5 {
    font-size: 16px;
    margin: 0;
}

.overview-number {
    font-size: 36px;
    margin: 0;
    color: #1366D9;
}

.separator {
    font-size: 36px;
    color: #1366D9;
    margin: 0 10px;
}

.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

hr {
    border-top: 1px solid gray;
}

@media (max-width: 767px) {
    .overview-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overview-item {
        width: 100%;
        justify-content: space-around;
    }

    .separator {
        display: none;
    }
}

.mt-3 {
    margin-top: 1rem !important;
}

/* Default light mode styles */


/* Dark mode styles */
body.dark-mode {
    background-color: #333333; 
    color: #ffffff;
}
body.dark-mode .sidebar {
    background-color: #444444 !important;
    color: white !important;
}

/* Adjustments for dark mode on various elements */
body.dark-mode .header {
    background-color: #444444 !important; 
}
body.dark-mode .header-container {
    background-color: #444444 !important;
}
body.dark-mode .card {
    background-color: #555555;
    color: #ffffff;
}
body.dark-mode .overview-container {
    background-color: #444444 !important;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark-mode canvas {
    color: white !important;
}
body.dark-mode .content-container {
    background-color: #333333;
}
body.dark-mode .nav-link.active {
    background-color: #555555;

}
/* Adjust other elements as needed */
/* styles.css */

/* Default light mode styles */
.navbar-toggler {
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border if needed */
}

.navbar-toggler i {
    color: #000; /* Dark icon color for light mode */
}

/* Dark mode styles */
body.dark-mode .header .btn {
    background-color: #4444;
    border: none;
}
body.dark-mode  .btn-light {
    color: white;
}

body.dark-mode .maintenanceChart {
    color: white !important;
}

body.dark-mode .navbar-toggler i {
    color: #fff; /* White icon color for dark mode */
}
body.dark-mode .header .search-bar {
    background-color: #555555;

}
body.dark-mode .header .search-bar input {
    background-color: #555555 !important;
}
body.dark-mode .input-group-prepend {
    background-color: #555555 !important;
    border-radius: 3px;
}

/* Add this to your styles.css or within a <style> tag in the <head> */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px; /* Adjust width as needed */
    overflow-y: auto; /* Allows scrolling if content overflows */
}

